<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Photos</title>

<th:block th:replace="~{fragments :: head}"></th:block>
</head>
<body>
	<!-- HEADER -->
	<!-- <header th:replace="~{fragments :: header}"></header> -->
	
	<!-- MAIN -->
	<main class="container">
		<h1 class="text-center mb-5">Photos</h1>
		
		<!-- Search by name -->
		<form action="photos" class="row my-5">
			<div class="col-auto px-0">
				<input type="text" class="form-control" id="keyword" name="keyword" placeholder="Inserisci nome">
			</div>
			<div class="col-auto px-2">
				<button type="submit" class="btn btn-primary col-auto">Search</button>
			</div>
			
			<!-- Insert a new photo -->
			<div class="col-auto px-2" sec:authorize="hasAuthority('ADMIN')">
				<a href="/admin/photos/create" class="btn btn-success col-auto">Insert a new photo</a>
			</div>
			
			<!-- Go to Categories -->
			<div class="col-auto ms-auto">
				<a href="/admin/categories" class="d-inline-block btn btn-primary"
				   sec:authorize="hasAuthority('ADMIN')">
					Go to Categories
				</a>
			</div>
		</form>
		
		<!-- IF No photos available -->
		<h2 class="text-center my-5" th:unless="${photos.size() > 0}">No photos available</h2>
		<!-- ELSE: Photo List -->
		<table th:if="${photos.size() > 0}" class="table table-hover align-middle w-auto">
			<thead>
			    <tr>
			      <th scope="col" sec:authorize="hasAuthority('ADMIN')">#</th>
			      <th scope="col">Title</th>
			      <th scope="col">Description</th>
			      <th scope="col">Tag</th>
			      <th scope="col">Categories</th>
			      <th scope="col">Photo</th>
			      <th scope="col" sec:authorize="hasAuthority('ADMIN')">Actions</th>
			    </tr>
	  		</thead>
		  	<tbody>
			    <tr th:each="photo : ${photos}" th:onclick="|window.location='/admin/photos/${photo.id}';|" style="cursor:pointer;">
			      <th sec:authorize="hasAuthority('ADMIN')">[[${photo.id}]]</th>
			      <td>[[${photo.title}]]</td>
			      <td>[[${photo.description}]]</td>
			      <td>[[${photo.tag}]]</td>
			      <td>[[${photo.categories}]]</td>
			      <td><img th:src="@{${photo.url}}" width="100"></td>
			      <!-- Actions -->
			      <td class="td-actions" sec:authorize="hasAuthority('ADMIN')">
			      	<!-- Show -->
					<a th:href="@{/admin/photos/{id} (id=${photo.id})}" class="btn btn-primary">
		      			<i class="fa-solid fa-sheet-plastic"></i>
		      		</a>
			      	<!-- Edit -->
					<a th:href="@{/admin/photos/edit/{id} (id=${photo.id})}" class="btn btn-success">
		      			<i class="fa-regular fa-pen-to-square"></i>
		      		</a>
		      		<!-- Delete -->
			      	<form action="#" th:action="@{/admin/photos/delete/{id}(id=${photo.id})}" 
			      		  method="post" class="d-inline-block">
			      		<button type="submit" id="submitButton" class="btn btn-danger">
			      			<i class="fa fa-trash-alt"></i>
			      		</button>
			      	</form>
			      </td>
			    </tr>
		  	</tbody>
		</table>
	</main>
	
	<!-- Scripts -->
	<div th:replace="~{fragments :: scripts}"></div>
</body>
</html>