/* PARTIALS - Photos !!!!!!!!!!!!!!!!!! */
* {
	color: red !important;
}
.authorComment {
    color: #3c3c3c;
    font-size: 14px;
    font-weight: bold;
    color: red;
}
.contentComment {
	color: #484848;
	font-size: 15px;
	line-height: 22px;
	color: red;
}