/* PARTIALS - Photos */
#btnModal {
	border: none;
	margin-bottom: 0.5rem;

	&:hover {
		cursor: zoom-in;
	}
}
#photoUrl {
	width: 100%;

	img {
		
	}
}
.modal {
	
	.modal-dialog {
		height: 100%;
		
		margin: 0 auto;
		justify-content: center;
		
		img {
			margin: 0 auto;
			max-height: 100%;
		}
	}
	
	&.fade.show {
		cursor: zoom-out;
	}
}