<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Edit Category</title>

<th:block th:replace="~{fragments :: head}"></th:block>
</head>
<body>
	<main class="container">
		<h1 class="mt-4">Edit Category</h1>
		
		<!--  Form: Insert a new Category -->
		<form id="category-form" th:object="${category}" th:action="@{/admin/categories/update/{id} (id=${category.id})}" method="post">
			<!--  Name -->
	    	<label for="name" class="form-label">Nome</label>
	    	<input type="text" maxlength="30" th:field="*{name}" class="form-control" id="name" th:errorClass="is-invalid">
			<!-- Validation Error -->
		  	<div th:if="${#fields.hasErrors('name')}" class="invalid-feedback">
				<ul>
					<li th:each="err : ${#fields.errors('name')}" th:text="${err}"></li>
				</ul>
			</div>
		  	
		  	<!-- Button Save -->
		  	<button type="submit" class="btn btn-primary mt-3">Save</button>
		</form>
	</main>

	<!-- Scripts -->
	<div th:replace="~{fragments :: scripts}"></div>
</body>
</html>